/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 760px) {
    /* Styles */
    .container-fluid{
        height: auto;
        position: relative;
    }
    #header{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 60px;
        background-color:rgba(3, 52, 94, 0.445);
        overflow: hidden;
        transition: 0.5s;
        /* padding: 0 20px; */
    }
    #header  .flex4-menu {
        margin-left: 15px;
        transition: 0.5s;
        opacity: 0;
       
        display:block;
        z-index: 1;
    }
    .flex4-logo{
        padding-left: 10px;
    }
    .flex4{
        display:flex;
        align-items: flex-start;
        padding-top: 12px;
    }
     
    .flex4-menu .a::after{
        content:"";
        border-right: none !important;
        
      
      }
    .mobile-bar  {
        border: solid 1px rgb(255, 255, 255);
        border-radius: 50%;
        width: 1rem;
        height: 1em;
        display:block;
        padding: 10px ;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 15px;
        
      } 
    .mobile-bar:hover{
        cursor: pointer;
       background: #ccc;
       border-radius: 50%;
       
       
    }
    .mobile-bar .fa-bars{
        font-size: 1.3rem;
    }
    .flex4-join{
        display:none;
    }
    .container {
        padding: 25px 0;
        height:auto;
        display:flex;
        align-items:center;
        justify-content:center;
        flex-direction:column;
        overflow: hidden;
    }
    .container2{
        margin-top:7%;
        width: 90%;
        position: relative;
        height: 90vh;
    }
    .container2 .block{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 5%;
      
    }
    .search-bar{
        width: 60%;
    }
    #dong_ho .time{
        margin-top: 5%;
        margin-bottom: 10%;
    }
    #dong_ho span{
        width: 78px;
        height:auto;
    }
    #ngay_thang span.bot{
        font-size: 1.2rem!important;
    }
 /* weatherinfo */
 .container4{
    height:auto;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    margin: 10px 0;
}
.container5{
    height:auto;
}
.current-info{
    display: flex;
    justify-content: center;
    align-items: center;
}
.future-forecast{
    margin: 0 auto;
}
/* animation: */
#future-forecast {
    overflow: hidden;
    height: 510px;
    width: 728px;
    margin: 0 auto;
  }
  
  .weather-forecast {
    width: 2912px;
    -webkit-animation: slide 8s ease infinite;
  }
  
  .slide {
    float: left;
    height: 200px;
    width: 150px;
  }
  
  
  @-webkit-keyframes slide {
    20% {margin-left: 1000px;}
    30% {margin-left: -128px;}
    50% {margin-left: -328px;}
    60% {margin-left: -456px;}
    80% {margin-left: -1080px;}
  }
}
    /* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 760px) and (max-width : 1024px) {
    .container-fluid{
        height: auto;
    }
    #header{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 90%;
        height: 60px;
        border-radius: 10px;
        background-color:rgba(240, 248, 255, 0.466);
        overflow: hidden;
        display: flex;
        justify-content: center;
        transition: 0.5s;
        padding: 0 20px;
    }
    #header  .flex4-menu    {
        margin-left: 20px   ;
        transition: 0.5s;
        opacity: 0;
        display:block;
        z-index: 1;
    }
    .flex4{
        width: 100%;
        display:flex;
        align-items: flex-start;
        padding-top: 10px;
    }
        /* .flex4-menu {
            width: 100%;
            background-color: rgba(255, 255, 255, 0.233);
        } */
    .flex4-menu .a::after{
        content:"";
        border-right: none !important;
        
      
      }
    
    
    .mobile-bar  {
        border: solid 1px rgb(255, 255, 255);
        border-radius: 50%;
        width: 1rem;
        height: 1em;
        display:block;
        padding: 10px ;
        display: flex;
        justify-content: center;
        align-items: center;
       
      
      } 
    .mobile-bar:hover{
        cursor: pointer;
       background: #ccc;
       border-radius: 50%;
       
    }
    .mobile-bar .fa-bars{
        font-size: 1.3rem;
    }
    .flex4-join{
        display:none;
    }
    .container {
        padding: 20px 0;
        height:auto;
        display:flex;
        align-items:center;
        justify-content:center;
        flex-direction:column;
        overflow: hidden;
    }
    .container2{
        margin-top: 8%;
        width: 60%;
        position: relative;
    }
    .container2 .block{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-left:10%;
      
    }
    #dong_ho span{
        width: 100px;
        height: 100px;
    }
    #dong_ho h2{
        margin-top: 30px!important; 
    }
    #dong_ho .time{
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .info-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 20vh;
        padding: 80px 30px;
    }
    /* weatherinfo */
    .container4{
        height:auto;
        display:flex;
        align-items:center;
        justify-content:center;
        flex-direction:column;
    }
    .container5{
        height:auto;
    }
    .current-info{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .future-forecast{
        margin: 0 auto;
    }
    /* animation */
    #future-forecast {
        overflow: hidden;
        height: 510px;
        width: 728px;
        margin: 0 auto;
      }
      
      .weather-forecast {
        width: 2912px;
        -webkit-animation: slide 10s ease infinite;
      }
      
      .slide {
        float: left;
        height: 200px;
        width: 150px;
      }
      
      
      @-webkit-keyframes slide {
        20% {margin-left: 900px;}
        30% {margin-left: -128px;}
        50% {margin-left: -328px;}
        60% {margin-left: -456px;}
        80% {margin-left: -900px;}
      }
      
    }
    